@reference "tailwindcss";

table {
  @apply table-auto border-collapse;
  thead {
    tr {
      @apply border-t-2 border-b-2 border-slate-500;
      th {
        @apply px-3 py-2;
      }
    }
  }
  tbody {
    @apply border-b-2 border-slate-500;
    tr {
      @apply border-t border-b border-slate-500;
      td {
        @apply px-3 py-2;
      }
    }
  }
  tfoot {
    @apply border-b-2 border-slate-500;
    tr {
      td,
      th {
        @apply px-3 py-2;
      }
    }
  }
}
