@import 'tailwindcss';

@theme {
  --color-kent-blue-50: #f0f6fa;
  --color-kent-blue-100: #dce8f2;
  --color-kent-blue-200: #afc7e0;
  --color-kent-blue-300: #85a2cc;
  --color-kent-blue-400: #425fa8;
  --color-kent-blue-500: #112382;
  --color-kent-blue-600: #0e1f75;
  --color-kent-blue-700: #0a1761;
  --color-kent-blue-800: #06104f;
  --color-kent-blue-900: #040a3b;
  --color-kent-blue-950: #020526;

  --animate-shimmer: shimmer 2s infinite;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@variant print (@media print);
