:root {
  --foreground-rgb: var(--color-slate-900);
  --background-start-rgb: var(--color-stone-200);
  --background-end-rgb: var(--color-stone-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--color-slate-100);
    --background-start-rgb: var(--color-slate-700);
    --background-end-rgb: var(--color-slate-800);
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}
