@reference "tailwindcss";

details {
  summary {
    @apply list-none cursor-pointer px-3 py-2 rounded border border-slate-600 mb-3 bg-slate-700 hover:bg-slate-600 transition-all flex items-center justify-between gap-3;
    div:first-child {
      @apply flex items-center justify-start gap-3;
    }
  }

  .arrow {
    @apply transition-all;
  }

  &[open] {
    .arrow {
      @apply rotate-90;
    }
  }

  &.draft {
    summary {
      @apply text-gray-100 bg-gray-900/60 border-gray-900/50 hover:bg-gray-900/40;
      @media (prefers-color-scheme: dark) {
        @apply text-gray-200 bg-gray-700/50 border-gray-600 hover:bg-gray-700/70;
      }
    }

    &[open] {
      summary {
        @apply text-gray-100 bg-gray-900/60 border-gray-900/90 hover:bg-gray-900/80;
        @media (prefers-color-scheme: dark) {
          @apply text-gray-100 bg-gray-700/70 border-gray-500 hover:bg-gray-700/90;
        }
      }
    }

    ul {
      li {
        a {
          @apply text-gray-100 border-gray-800 bg-gray-600 hover:bg-gray-700;
          @media (prefers-color-scheme: dark) {
            @apply text-gray-200 border-gray-600 bg-gray-700 hover:bg-gray-600;
          }
        }
      }
    }
  }

  &.essent {
    summary {
      @apply text-rose-100 bg-rose-900/70 border-rose-900/90 hover:bg-rose-900/60;
      @media (prefers-color-scheme: dark) {
        @apply text-rose-200 bg-rose-800/50 border-rose-700 hover:bg-rose-800/70;
      }
    }

    &[open] {
      summary {
        @apply text-rose-100 bg-rose-900/80 border-rose-900/90 hover:bg-rose-900/60;
        @media (prefers-color-scheme: dark) {
          @apply text-rose-100 bg-rose-800/70 border-rose-600 hover:bg-rose-800/90;
        }
      }
    }

    ul {
      li {
        a {
          @apply text-rose-100 border-rose-600 bg-rose-500 hover:bg-rose-400;
          @media (prefers-color-scheme: dark) {
            @apply text-rose-200 border-rose-700 bg-rose-800 hover:bg-rose-700;
          }
        }
      }
    }
  }

  &.sent {
    summary {
      @apply text-amber-100 bg-amber-900/70 border-amber-900/90 hover:bg-amber-900/60;
      @media (prefers-color-scheme: dark) {
        @apply text-amber-200 bg-amber-800/50 border-amber-700 hover:bg-amber-800/70;
      }
    }

    &[open] {
      summary {
        @apply text-amber-100 bg-amber-900/80 border-amber-900/90 hover:bg-amber-900/60;
        @media (prefers-color-scheme: dark) {
          @apply text-amber-100 bg-amber-800/70 border-amber-600 hover:bg-amber-800/90;
        }
      }
    }

    ul {
      li {
        a {
          @apply text-amber-100 border-amber-800 bg-amber-700 hover:bg-amber-600;
          @media (prefers-color-scheme: dark) {
            @apply text-amber-200 border-amber-700 bg-amber-800 hover:bg-amber-700;
          }
        }
      }
    }
  }

  &.completed {
    summary {
      @apply text-lime-100 bg-lime-900/70 border-lime-900/90 hover:bg-lime-900/60;
      @media (prefers-color-scheme: dark) {
        @apply text-lime-200 bg-lime-800/50 border-lime-700 hover:bg-lime-800/70;
      }
    }

    &[open] {
      summary {
        @apply text-lime-100 bg-lime-900/80 border-lime-900/90 hover:bg-lime-900/70;
        @media (prefers-color-scheme: dark) {
          @apply text-lime-100 bg-lime-800/70 border-lime-600 hover:bg-lime-800/90;
        }
      }
    }

    ul {
      li {
        a {
          @apply text-lime-100 border-lime-800 bg-lime-700 hover:bg-lime-600;
          @media (prefers-color-scheme: dark) {
            @apply text-lime-200 border-lime-700 bg-lime-800 hover:bg-lime-700;
          }
        }
      }
    }
  }

  ul {
    li {
      a {
        @apply flex items-center gap-3 ml-3 px-3 py-2 rounded border mb-3 transition-all;
      }

      &.not-found {
        @apply flex items-center gap-3 ml-3 px-3 py-2 rounded border border-stone-600 dark:border-slate-600 mb-3 text-stone-50 dark:text-slate-200 bg-stone-400 hover:bg-stone-500 dark:bg-slate-700 dark:hover:bg-slate-600 transition-all;
      }
    }
  }
}
